#contenido-asignatura {
    width: calc(99vw - var(---marginAside) -2px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: 75px 0 0 var(---marginAside);
    transition: var(---transitionSidebarExpanded);
}

table, tr , td, th {
    border-style: solid;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

table {
    width: 100%;
}

.id {
    width: 20%;
}

.nombre {
    width: 80%;
}