:root {
    ---navColor: rgb(62, 92, 118);
    ---contentColor: rgb(116, 140, 171);
}

/*------------------------ GENERALIDADES ----------------------*/

* {
    padding: 0;
    margin: 0;
    font-family: 'arial';
}

a {
    color: aliceblue;
    text-decoration: none;
    text-decoration-color: none;
    transition: 1s;
    cursor: pointer;
}

/*------------------------ BARRA SUPERIOR ----------------------*/

/* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    flex-wrap: wrap;
    width: 100%;
    background-color: #0d168b;
    height: 80px;
}

header>h1 {
    font-size: 35px;
    padding: 20px;
    padding-left: 35px;
    color: aliceblue;
}

header>h1:hover {
    scale: 1.1;
    transition: 1s;
} */

/*NAVBAR DE BOOTSTRAP*/
.navStyle {
    background-color: var(---navColor);
    padding: 10px 0 10px 0;
    font-size: 18px;
    position: fixed; /*hace que la navbar se quede fija, esto junto al top*/
    top: 0px;
    z-index: 100; /*Navbar encima del aside*/
    color: white;
    margin: 0 0 0 0;


}

.navbar-brand {
    font-size: 30px; /*Tamaño del titulo (ITSP)*/
}

.nav-link, .navbar-brand, .nav-item a{
    color: white; 
}

.container-fluid{
    justify-content: space-around;
}




/*------------------------ BOTONES - BARRA SUPERIOR ----------------------*/

/* #botones_sup {
    display: flex;
    gap: 1rem; 
}

nav ul li:not(:last-child) a::after {
    content: '';
    border-right: solid;
    padding-right: 5rem;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.boton {
    padding: 1rem;
    margin: 25px;
    font-size: 20px;
    color: aliceblue;
    transition: 1s;
    cursor: pointer;
}

.boton:hover {
    scale: 1.1;
    background-color: #080f6b;
    transition: 1s;
} */

/*------------------------ CONTENIDO DE LA PAGINA ----------------------*/

#grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
        'aside contenido contenido contenido contenido';
    padding-top: 80px;
}

.contenido {
    grid-area: contenido;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    margin-left: 17%;
}

.contenido>section {
    margin: 10px;
    padding: 10px;
    width: 43%;
    background-color: var(---contentColor);
}

.contenido>section>p {
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

.contenido>section>img {
    width: 80%;
    height: 400px;
    padding: 40px;
}

.contenido>div {
    text-align: center;
    padding: 20px;
}

.contenido>div>h2 {
    margin: 10px;
}

/*------------------------ BARRA LATERAL ----------------------*/

aside {
    padding: 50px 0 0 0;
    width: 200px;
    height: 100vh; /* 100% del alto visible de la ventana */
    background-color: var(---navColor);
    position: fixed;
    grid-area: aside; /* si usás grid, lo podés mantener */
}

aside>ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style-type: none; /*Sacar los puntitos de la lista*/
    padding: 0;
}

aside>ul>li>a {
    display: block;
    font-size: 20px;
    padding: 20px;
    padding-bottom: 10px;
    transition: 1s;
}

aside>ul>li>a:hover {
    scale: 1.05;
    background-color: #21277c;
    transition: 1s;
}

aside ul li:not(:last-child) a::after {
    content: '';
    display: block;
    border-bottom: 1px solid white;
    justify-content: center;
    margin-top: 2rem;  /* opcional */
}



/*------------------------ FOOTER ----------------------*/
#footer {
    background-color: rgb(71, 73, 73);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 3rem;
    margin-left: 12%;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 20px;
    width: 88%;
}