.grid-cell {
    padding: 15px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #d8d8d8 !important;
}

.inasistencias-grid .grid-header,
.inasistencias-grid .grid-row {
    display: grid;
    grid-template-columns: 150px 290px 280px 220px 220px !important; /* ID, Fecha, CI Profesor, Horario, Botones */
    align-items: center;
    text-align: center;
}