.darkmode .navStyle {
    background-color: #2b2b2b;
    color: #fff;
}

.darkmode .nav-link,
.darkmode .navbar-brand,
.darkmode .nav-item a {
    color: #fff;
}

.darkmode .nav-link:hover {
    color: #6d6d6d;
}

.darkmode .navbar-brand:hover {
    color: #6d6d6d;
}

.darkmode .icono {
    filter: invert(100%);
}

.darkmode .icono:hover {
    filter: invert(40%);
}

.darkmode .navbar-toggler-icon {
    filter: invert(1) brightness(2);
}

.darkmode .navbar-toggler-icon:hover {
    filter: invert(0) brightness(4);
}

.darkmode .btn-bienvenida {
    background-color: #333;
    color: #fff;
}

.darkmode .btn-bienvenida:hover {
    background-color: #3c3b3b;
}

.darkmode aside {
    background-color: #1e1e1e;
}

.darkmode footer {
    background-color:  #2b2b2b;
    color: #fff;
}

.darkmode #contenido-mostrar-datos {
    background-color: #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* opcional */
}

.darkmode .div-mostrar-datos {
    background: #333;
}

.darkmode #contenido-mostrar-datos h1 {
    color: #fff;
}

.darkmode .datos-grid {
    background: #ecf0f1;
}

.darkmode .filtros {
    background-color: #333;
}

.darkmode div.filtros {
    background-color: #333;
}

.darkmode .div-mostrar-datos-main {
    background-color: #333;
}

.darkmode .grid-cell {
    border: 1px solid #2b2b2b;
}

.darkmode .btn {
    color: #000;
}

.darkmode .filtros>label {
    color: #fff;
}

.darkmode .informacion-escondida {
    background: #fff;
}

.darkmode .flecha-volver {
    color: #fff;
}
.darkmode .flecha-volver:hover {
    color: #bababa;
    background-color: #6d6d6d;
}

.darkmode .btn-login {
    background-color: #2c3e50;
    color: #fff;
}

.darkmode .btn-login:hover {
    background-color: #45607a;
}

.darkmode #form {
    background-color: #333;
}

.input-form {
    color: aliceblue;
    background-color: #ffffff;
}

.input-form::placeholder {
    color: rgb(0, 0, 0);
}

.darkmode#titulo-login {
    color: aliceblue;
}