/* NAVBAR */
    .darkmode .navStyle,
    .darkmode footer {
        background-color: #1e1e1e;
        color: #f1f1f1;
    }

    .darkmode .nav-link,
    .darkmode .navbar-brand,
    .darkmode .nav-item a {
        color: #f1f1f1;
    }

    .darkmode .nav-link:hover,
    .darkmode .navbar-brand:hover {
        color: #6d6d6d;
    }

    /* ICONOS */
    .darkmode .icono,
    .darkmode .navbar-toggler-icon {
        filter: invert(100%);
    }

    .darkmode .icono:hover,
    .darkmode .navbar-toggler-icon:hover {
        filter: invert(60%);
    }

    /* BOTONES */
    .darkmode .btn,
    .darkmode .btn-bienvenida,
    .darkmode .btn-login {
        background-color: #3a3a3a;
        color: #f1f1f1;
        border: 1px solid #3a3a3a;
        transition: background-color 0.2s ease, color 0.2s ease;
    }

    .darkmode .btn:hover,
    .darkmode .btn-bienvenida:hover,
    .darkmode .btn-login:hover {
        background-color: #505050;
        color: #121212;
    }

    /* SECCIONES */
    .darkmode aside,
    .darkmode #contenido-mostrar-datos,
    .darkmode .div-mostrar-datos,
    .darkmode .div-mostrar-datos-main,
    .darkmode .filtros,
    .darkmode #form {
        background-color: #2b2b2b;
        color: #f1f1f1;
    }

    /* TEXTO */
    .darkmode #contenido-mostrar-datos h1,
    .darkmode .filtros>label,
    .darkmode #titulo-login,
    .darkmode .label,
    .darkmode .flecha-volver {
        color: #f1f1f1;
    }

    .darkmode .flecha-volver:hover {
        color: #bababa;
        background-color: #3a3a3a;
    }

    /* INPUTS */
    .darkmode .input-form {
        color: #f1f1f1;
        background-color: #3a3a3a;
        border: 1px solid #505050;
    }

    .darkmode .input-form::placeholder {
        color: #cfcfcf;
    }

    /* GRID Y DATOS */
    .darkmode .grid-cell {
        border: 1px solid #3a3a3a;
    }

    .darkmode .informacion-escondida {
        background-color: #2b2b2b;
        color: #000000;
    }

    .darkmode .mostrar-datos .grid-cell {
        color: #333;
    }

    .darkmode .dialogs {
        background-color: #2b2b2b;
        color: #2b2b2b;
    }

    .darkmode .dialogs h1 {
        color: #ffffff;
    }
    
    .darkmode .contenedor-password-register>i {
        color: white;
        background-color: #3b3b3b;
    }

    .darkmode .input-register {
        background-color: #3b3b3b;
        color: white;
        border: 1px solid #505050;
    }

    .darkmode .btn-register-horario {
        background-color: #2c3e50;
        color: #f1f1f1;
    }

    .darkmode .btn-register-horario:hover {
        background-color: #45607a;
        color: #f1f1f1;
    }